* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 60%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
  "h h"
  "s c";
  gap: 10px;
}

header {
  grid-area: h;
}

nav {
  grid-area: s;
}

.Profile {
  grid-area: c;
}